<!-- Soundcloud Me Gusta -->

<a class="sc-link-primary sc-link-dark sc-type-light sc-text-secondary playableTile__mainHeading playableTile__heading audibleTile__audibleHeading sc-truncate sc-font-light sc-text-h4" href="/rena-en-el-siglo-40/llamadas-telefonicas-super-maqueta-hasta-me-equivoco">
    <span class="sc-icon sc-icon-large sc-icon-like playableTile__mainHeadingLike"></span>
    llamadas telefónicas (super maqueta hasta me equivoco)
</a>

<a class="sc-link-primary sc-link-dark sc-type-light sc-text-secondary playableTile__mainHeading playableTile__heading audibleTile__audibleHeading sc-truncate sc-font-light sc-text-h4" href="/dragogboy97/domingo-en-la-casa">
    <span class="sc-icon sc-icon-large sc-icon-like playableTile__mainHeadingLike"></span>
    DOMINGO EN LA CASA
</a>

<a class="sc-link-primary sc-link-dark sc-type-light sc-text-secondary playableTile__mainHeading playableTile__heading audibleTile__audibleHeading sc-truncate sc-font-light sc-text-h4" href="/amaya-samper-256633607/ola-como-tai-m4a">
    <span class="sc-icon sc-icon-large sc-icon-like playableTile__mainHeadingLike"></span>
    Ola como tai.m4a
</a>


<div class="playableTile__description sc-mt-1x">
    <div class="playableTile__descriptionContainer">
      <a class="sc-link-primary sc-link-dark sc-type-light sc-text-secondary playableTile__mainHeading playableTile__heading audibleTile__audibleHeading sc-truncate sc-font-light sc-text-h4" href="/ninia-glaciar/tanto-frio">
        <span class="sc-icon sc-icon-large sc-icon-like playableTile__mainHeadingLike"></span>
        Tanto Frio
      </a>
    </div>
    <div class="playableTile__usernameHeadingContainer sc-type-light sc-text-secondary sc-font-light">
      <a class="sc-link-secondary sc-link-light playableTile__usernameHeading audibleTile__usernameHeading sc-truncate sc-text-h4" href="/ninia-glaciar">
        Ninia Glaciar</a>
    </div>
</div>



<div class="playableTile__description sc-mt-1x">
    <div class="playableTile__descriptionContainer">
      <a class="sc-link-primary sc-link-dark sc-type-light sc-text-secondary playableTile__mainHeading playableTile__heading audibleTile__audibleHeading sc-truncate sc-font-light sc-text-h4" href="/mitimitis666/something-stupid-algo-aweonao">
        <span class="sc-icon sc-icon-large sc-icon-like playableTile__mainHeadingLike"></span>
        somethin stupid (algo aweonao)
      </a>
    </div>
    <div class="playableTile__usernameHeadingContainer sc-type-light sc-text-secondary sc-font-light">
      <a class="sc-link-secondary sc-link-light playableTile__usernameHeading audibleTile__usernameHeading sc-truncate sc-text-h4" href="/mitimitis666">
        101 Strings</a>
    </div>
</div>


<!-- Spotify Playlist-->
<div class="_iQpvk1c9OgRAc8KRTlH"><a draggable="false" class="btE2c3IKaOXZ4VNAb8WQ" data-testid="internal-track-link" href="/intl-es/track/4nuTEzmtIl2BDhXd3vLff6" tabindex="-1"><div class="encore-text encore-text-body-medium encore-internal-color-text-base btE2c3IKaOXZ4VNAb8WQ standalone-ellipsis-one-line" data-encore-id="text" dir="auto">I'm Still Cheering For The 1980 U.S. Hockey Team</div></a><span class="encore-text encore-text-body-small encore-internal-color-text-subdued UudGCx16EmBkuFPllvss standalone-ellipsis-one-line" data-encore-id="text"><div class="encore-text encore-text-body-small" data-encore-id="text"><a draggable="true" dir="auto" href="/intl-es/artist/26QUnNKXoLwA4M7EPXMVCf" tabindex="-1">Oakwood</a></div></span></div>

<div class="_iQpvk1c9OgRAc8KRTlH"><a draggable="false" class="btE2c3IKaOXZ4VNAb8WQ" data-testid="internal-track-link" href="/intl-es/track/5jvm5wPPPqTlpFyjlZhXTE" tabindex="-1"><div class="encore-text encore-text-body-medium encore-internal-color-text-base btE2c3IKaOXZ4VNAb8WQ standalone-ellipsis-one-line" data-encore-id="text" dir="auto">Kirby Down B</div></a><span class="encore-text encore-text-body-small encore-internal-color-text-subdued UudGCx16EmBkuFPllvss standalone-ellipsis-one-line" data-encore-id="text"><div class="encore-text encore-text-body-small" data-encore-id="text"><a draggable="true" dir="auto" href="/intl-es/artist/0DpBrLHJdZh2iAId301CwV" tabindex="-1">Harrison Gordon</a></div></span></div>

<div class="_iQpvk1c9OgRAc8KRTlH"><a draggable="false" class="btE2c3IKaOXZ4VNAb8WQ" data-testid="internal-track-link" href="/intl-es/track/2TqfK2N1kFoX7OySPCB7pQ" tabindex="-1"><div class="encore-text encore-text-body-medium encore-internal-color-text-base btE2c3IKaOXZ4VNAb8WQ standalone-ellipsis-one-line" data-encore-id="text" dir="auto">Catalina Fight Song</div></a><span class="encore-text encore-text-body-small encore-internal-color-text-subdued UudGCx16EmBkuFPllvss standalone-ellipsis-one-line" data-encore-id="text"><div class="encore-text encore-text-body-small" data-encore-id="text"><a draggable="true" dir="auto" href="/intl-es/artist/7qbvNcfTfckhCNM8NiR8nN" tabindex="-1">Joyce Manor</a></div></span></div>